/* Tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
    font-family: 'Raleway', sans-serif;
}

.btn {
    @apply bg-themeBlue text-white px-30 py-10;
}

.btn-border {
    @apply text-themeBlue border-2 px-30 py-10;
}

.dropdownTick::before {
    font: var(--fa-font-solid);
    content: "\f00c";
    @apply absolute right-10 top-[50%] translate-y-[-50%] text-green;
}

.commonContainer {
    /* @apply pl-20 pr-20 w-[100%] max-w-[1680px] ml-auto mr-auto; */
    @apply pl-20 pr-20 w-[100%] ml-auto mr-auto;
}

.commonContainerWithBg {
    @apply commonContainer bg-gradient-to-b from-backgroundgray to-[#e4e4e4] py-30;
}

@media (min-width:768px) {

    .commonContainer,
    .commonContainerWithBg {
        @apply pl-[6vw] pr-[8vw];
    }
}

.homeCarousel .slick-dots li button:before {
    @apply text-themeBlue text-8 opacity-50
}

.homeCarousel .slick-dots li.slick-active button:before {
    @apply text-themeBlue text-8 opacity-100
}

.homeCarousel .slick-dots {
    @apply -bottom-40
}